html {
	font-size: 100%
}

p {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	text-align: center;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
		color: black;
		text-align: center;
		list-style-type: none;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem
	text-align: center;
}

body{
	background-color:#193441;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
}

#container{
    width: 95%;
    background-color: #FCFFF5;
    margin: 0 auto;
}

ul {
  list-style: none;
	padding: 0;
}

#nav {
    padding: 0;
	list-style: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	list-style: none;
}

#nav a:link, a:visited {
	display:block;
    color: #3E606F;
    background-color: #D1DBBD;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
		list-style-type: none;
}

#nav a:hover, a:active {
    background-color: #91AA9D;
		text-decoration: none;
		list-style-type: none;
}

.caption {
    color: black;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: center;
}

#footer {
    color: black;
		background-color: #91AA9D;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
